<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>URL Shortner</h1>

    <% if (locals.id) { %>
        <p class="generated-url">
            URL Generated: 
            <a href="http://localhost:5000/url/<%= id %>" target="_blank" class="generated-link">
                http://localhost:5000/url/<%= id %>
            </a>
        </p>
    <% } %>    

    <div>
        <form action="/url" method="POST">
            <label>Enter the Original URL</label>
            <input type="text" name="url" placeholder="https://example.com">
            <button type="submit">Generate</button>
        </form>
    </div>

    <div>
        <% if (locals.urls) { %>
            <table>
                <thead>
                    <th>S.No.</th>
                    <th>ShortID</th>
                    <th>Redirect URL</th>
                    <th>Clicks</th>
                </thead>
                <tbody>
                    <% urls.forEach((url, index) => { %>
                        <tr>
                            <td><%= index+1  %></td>
                            <td><%= url.shortId %></td>
                            <td><%= url.redirectURL %></td>
                            <td><%= url.visitHistory.length %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } %>
    </div>
</body>
</html>